<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.torkmandukk.githubrepos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.torkmandukk.githubrepos.GithubReposApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name="com.torkmandukk.githubrepos.view.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.torkmandukk.githubrepos.view.ui.search.SearchActivity"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name="com.torkmandukk.githubrepos.view.ui.detail.DetailActivity" />
        <activity android:name="com.torkmandukk.githubrepos.view.ui.commit.CommitActivity" />
    </application>

</manifest>